body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #773c42 !important;
}

h1,
h2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 1em;
}

canvas {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding-bottom: 5em;
}

input:focus,
input:hover {
  background-image: url('selector.png');
  cursor: pointer;
  outline: 0;

}

/*.character:hover {
  cursor: pointer;
  background-image: url('selector.png');
}*/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  background-color: antiquewhite;
  border-style: groove;
  margin-top: 20px;
}