body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}
.character {
	
	cursor: pointer;
	visibility: visible;
}
img:hover {
	
	background-image: url('selector.png');
	
}
.choosen: {
border: 4 px #eef solid;
}
